[submodule "lib/chimera"]
	path = lib/chimera
	url = https://github.com/Recon-Fuzz/chimera
[submodule "lib/properties"]
	path = lib/properties
	url = https://github.com/crytic/properties
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
