[submodule "lib/chimera"]
	path = lib/chimera
	url = https://github.com/Recon-Fuzz/chimera
[submodule "lib/properties"]
	path = lib/properties
	url = https://github.com/crytic/properties
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/properties"]
	path = contracts/lib/properties
	url = https://github.com/crytic/properties
[submodule "contracts/lib/chimera"]
	path = contracts/lib/chimera
	url = https://github.com/recon-fuzz/chimera
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/halmos-cheatcodes"]
	path = contracts/lib/halmos-cheatcodes
	url = https://github.com/a16z/halmos-cheatcodes
[submodule "contracts/lib/solmate"]
	path = contracts/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "contracts/lib/ds-test"]
	path = contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "contracts/lib/setup-helpers"]
	path = contracts/lib/setup-helpers
	url = https://github.com/recon-fuzz/setup-helpers
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/foundry"]
	path = contracts/foundry
	url = https://github.com/foundry-rs/forge-std
